[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
docker = "*"
sqlalchemy = "*"
alembic = "*"
sqlalchemy-utils = "*"
flask-bootstrap = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.6"
