<!doctype html>
<title>Hello World~</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
 <h1>Hello World -- by Vassago</h1>

 {% for message in get_flashed_messages() %}
   <div class=flash>{{ message }}</div>
  {% endfor %}
 {% block body %}{% endblock %}
        <form action="/index/" method="post">
        <p>image:<input type="" name="image" value="image" style="color:grey;" onfocus="javascript:if(this.value=='image')this.value='';"></p>
        <p>port:<input type="" name="port" value="port" style="color:grey;" onfocus="javascript:if(this.value=='port')this.value='';"></p>
        <p>volumes:<input type="" name="volumes" value="volumes" style="color:grey;" onfocus="javascript:if(this.value=='volumes')this.value='';"></p>
        <p><button type="submit">提交</button><input type="reset" name="reset" value="重置" style="margin-left: 50px"></p>
    </form>
</div>

